    .navbar{
        height: 70px;
        display: flex;
        max-width: 755px;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        
    &__logo{
        height: 30px;
    }
        &__collection{
            display: flex;
            gap: 35px;
            align-items: center;
        }
        &__item{
            list-style: none;
            font-size: 20px;
            color: $bg-itme;
            font-weight: bold;
            transition: 1s;
            &:hover{
                color:black;
                cursor: pointer;
               
            }
        }
        &__menu{
            display: none;
        }
}












@media (max-width:758px) {
    .navbar{
        &__collection{
            display: none;
        }
        &__logo{
        height: 25px;
        }
        &__menu{
            display: block;
        }
    }
}




@media (max-width:340px) {
    .navbar{
        &__collection{
            display: none;
        }
        &__logo{
        height: 15px;
        }
        &__menu{
            display: block;
            height: 15px;
        }
    }
}