.work{
    
    margin-top: 200px;
    &__wrapper{
        margin: 50px 0;
        display: flex;
        gap: 40px;
       
        .card{
            &__bigtitle{
                font-size: 48px;
                color: #FDD6BA;
            }
            &__title{
                font-size: 30px;
                margin: 30px 0;
                width: 220px;
            }
            &__text{
                font-size: 16px;
                line-height: 20px;
                color: #333D4B;
                width: 340px;
            }
        }
    }
    &__btn{
        background-color: #66D2CF;
        color: white;
        height: 60px;
        width: 220px;
        border: none;
        font-size: 20px;
        font-weight: bolder;
        border-radius: 10px;
        padding: 10px 20px;
        transition: .8s;
        margin-bottom: 200px;

        &:hover{
            background-color: black;
            color: gold;
            border-radius: 20px;
        }
    }


 }







 

@media (
    max-width:691px)
     {.choos{
        background: url("/assets/Bitmap.png")no-repeat
        center/cover;
        padding: 20px;
        text-align: center;
        color: white;
        border-radius: 10px;
        margin-top: 820px;
        height: 520px;
        width: 689px;
        &__title{
            font-size: 48px;
            margin:60px 0 30px 0;
        }
        &__text{
            font-size: 16px;
            width: 400px;
            margin: auto;
            color: #ddd;
        }
        &__wrapper{
            margin: 0 20px;
            margin-top: 50px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        .card{
            padding-top: 50px;
            background-color: #0E8784;
            border-radius: 5px;
    &__title{
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
    
    }
    &__text{
        width: 260px;
        font-size: 16px;
        list-style: 20px;
        color: #ddd;
    }
    .body{
        margin: 30px 0 50px 0;
        padding: 15px;
    
    }
        }
    }
    
    }
    
     
     


    
@media (
    max-width:691px)
  {.work{
    padding: 20px;
    text-align: center;
    margin-top: 500px;
    &__title{
        font-size: 30px;
        margin:60px 0 30px 0;
    }
   
    &__wrapper{
        margin: 0 20px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .card{
        padding-top: 50px;
        border-radius: 5px;
&__title{
color: black;
font-size: 25px;
margin-bottom: 30px;

}
&__text{
    width: 260px;
    font-size: 16px;
    list-style: 20px;
    color: #333D4B;
}

    }
    &__btn{
        margin-top: 40px;
    }
    }
    
}


   
@media (
    max-width:325px)
  {.work{
    
    padding: 20px;
    margin-top: 500px;
    justify-content: center;
    &__title{
        font-size: 30px;
        margin:60px 0 30px ;
    }
   
    &__wrapper{
        margin: 0 20px;
        margin-top: 50px;
    flex-direction: column;
        text-align: center;
    }
    .card{
        padding-top: 50px;
        border-radius: 5px;
&__title{
color: black;
font-size: 25px;
margin-bottom: 30px;

}
&__text{
    width: 260px;
    font-size: 16px;
    list-style: 20px;
    color: #333D4B;
}

    }
    &__btn{
        margin: auto;
        margin-top: 40px;
    }
    }
    
}